body {
  background-color: orange;
}

#title {
  text-align: center;
}

#list {
  background-color: gray;
  width: 100%;
  max-height: 20rem;
  overflow-x: hidden;
  overflow-y: auto;
}

li {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-indent: 1rem;
  color: white;
  border: 1px solid white;
  background-color: black;
  transition: height 600ms ease-in-out;
  overflow: hidden;
}

li:active {
  background-color: white;
  color: black;
}

li.previewing {
  height: 12rem;
}

audio {
  width: 100%;
  height: 9rem;
}

button {
  height: 4.5rem;
  font-size: large;
}

#startpause,
#stop {
  position: absolute;
  width: calc(50% - 1.5rem);
  bottom: 1rem;
}

#startpause {
  left: 1rem;
}

#stop {
  right: 1rem;
}
