body {
  background-color: orange;
}

#title {
  text-align: center;
}

#list {
  background-color: gray;
  width: 100%;
  max-height: 20rem;
  overflow-x: hidden;
  overflow-y: auto;
}

li {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-indent: 1rem;
  color: white;
  border: 1px solid white;
  background-color: black;
  transition: height 300ms ease-in-out;
  overflow: hidden;
}

li:active {
  background-color: white;
  color: black;
}

li.previewing {
  height: 12rem;
}

audio {
  width: 100%;
  height: 9rem;
}

button::-moz-focus-inner {
  border: none;
  outline: none;
}

#startpause,
#stop {
  position: absolute;
  width: calc(50% - 1.5rem);
  bottom: 1rem;
  font-size: large;
  font-weight: bold;
  outline: none;
  transition: opacity 166ms ease-in-out;
}

#startpause:active,
#stop:active {
  opacity: 0.5;
}

#startpause:focus,
#stop:focus {
  outline: none;
}

#startpause {
  position: absolute;
  width: 7rem;
  height: 7rem;
  left: calc(50% - 3.5rem);
  border-radius: 50% 50%;
  background-color: red;
}

#stop {
  right: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50% 50%;
  color: white;
  background-color: black;
}
